doctype html
html
  head
    title Express Example
    link(rel="stylesheet", type="text/css", href="/expressexample.css")
  body
    h1 well, #{username} that's a bit short...
    h3 ... so no kitty for you!
  div
    a(href="/") try again!
  div
body
