doctype html
html
  head
    title Express Example
    link(rel="stylesheet", type="text/css", href="/expressexample.css")
  body
    h1 here, #{username} have your kitteh!
    div
    img src="/catpics/#{catpic}"
    div
      a(href="/") gimme new, I hate my kitteh!
