<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dancer Example</title>
  <link rel="stylesheet" type="text/css" href="/dancerexample.css">
</head>
<body>
  <h1>here, [% username %] have your kitteh!</h1>
  <div>
    <img src="[% catpic_url %]" />
  </div>
  <div>
    <a href="/">gimme new, I hate my kitteh!</a>
  </div>
</body>
</html>
