doctype html
html
  head
    title Webmachine Example
    link(rel="stylesheet", type="text/css", href="/machineexample.css")
  body
    h1 Welcome to this amazing catpic app!
    div
    form(action="/cats", method="POST")
      div
        h3 choose a username
      div
        input(type="text", name="username", id="username")
      div
        button(type="submit") gimme kitteh!
