doctype html
html
  head
    title Webmachine Example
    link(rel="stylesheet", type="text/css", href="/machineexample.css")
  body
    h1 here,
      span= username
      span have your kitteh!
    div
    img(src= catpic)
    div
      a(href="/") gimme new, I hate my kitteh!
