main = Server(
  uuid="foofoofoofoo",
  access_log="/logs/access.log",
  error_log="/logs/error.log",
  chroot="./",
  default_host="localhost",
  name="test",
  pid_file="/run/mongrel2.pid",
  port=6767,
  hosts = [
      Host(name="localhost", routes = {
          '/tests/':   Dir(base='tests/',
                           index_file='index.html',
                           default_ctype='text/plain'),
          '/kittehz/': Handler(send_spec='tcp://127.0.0.1:9996',
                               send_ident='barbarbabar',
                               recv_spec='tcp://127.0.0.1:9999',
                               recv_ident='bazbazbaz')

      })
  ]
)

servers = [main]
