doctype html
html
  head
    title Webmachine Example
    link(rel="stylesheet", type="text/css", href="/machineexample.css")
  body
    h1 oh look! so many kittehz!
    div
      a(href="/") give me a kitteh with my name!
    div
    div
      if allcats
        div
          img
      else
        h3 no kittehz to show!
    div
