doctype html
html
  head
    title Webmachine Example
    link(rel="stylesheet", type="text/css", href="/machineexample.css")
  body
  h1 well
    span= username
    span that is a bit short..
    h3 ... so no kitty for you!
  div
    a(href="/") try again!
  div
body
